@import "./variable-overrides";
@import "../bootstrap/scss/bootstrap";
@import "../fontawesome/scss/fontawesome";
@import "../fontawesome/scss/brands";

.navbar-brand {
  font-family: $font-family-brand;
}

.card {
  border-bottom: 2px solid $primary;
}
