$font-size-base:              1.1rem !default; // Assumes the browser default, typically `16px`

$font-family-sans-serif:      'Open Sans', sans-serif;
$font-family-serif:           'Merriweather', serif;
$font-family-brand:           'Fredericka the Great', cursive;

$headings-font-family:        $font-family-brand;
