{{ define "main" }}
<main aria-role="main">
  {{ with .Content }}
  <div class="container mt-3">
    <!-- Note that the content for _index.html, as a sort of list page, will pull from content/_index.md -->
  </div>
  {{ end }}
  <div class="container mt-3">
    <div class="row">
      <div class="col-lg-8">
          {{ $paginator := .Paginate (where .Site.RegularPages "Section" "blog") }}
          {{ range $paginator.Pages }}
          <section class="post">
            {{ partial "post-card" . }}
          </section>
          {{ end }}
          {{ partial "pagination.html" . }}
      </div>  
      <div class="col-lg-4">
        {{ partial "sidebar.html" . }}
      </div>
    </div>
  </div>
</main>
{{ end }}