<aside class="mb-5">
  {{ with .Site.Params.GoogleCustomSearchCx }}
  <div class="card">
    <div class="card-body">
      <script>
        (function() {
          var cx = "{{ . }}";
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
          window.onload = function(){
            document.getElementById('gsc-i-id1').placeholder = "Search {{ $.Site.Params.Domain }}";
          };
        })();
      </script>
      <gcse:search></gcse:search>
    </div>
  </div>
  {{ end }}

  <div class="card bd-highlight mt-3">
    <div class="card-body">
      <h5 class="card-title">Affiliate Links</h5>
      <small class="card-text">This site contains afiliate links. This means that I'll be making a small commission at no cost to you should you decide to make a purchase. <a class="text-muted" href="/affiliate-disclaimer">Learn more</a>.</small>
    </div>
  </div>

  <div class="card bd-highlight mt-3">
    <div class="card-body">
      <a class="btn btn-primary btn-block" href="https://www.instagram.com/georgebanis.art/">
        Follow me on Instagram <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
  

</aside>